#onchain
onchain/coverage
onchain/coverage.json
onchain/typechain

onchain/cache
onchain/artifacts
onchain/out
onchain/soljson*
onchain/typechain-types

onchain/forge-cache

#common
.DS_Store
bin
.vscode
node_modules
.envrc
